<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172649153-1"></script>
	<script>
 	 window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
 	 gtag('js', new Date());
  	gtag('config', 'UA-172649153-1');
	</script>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="In early 2020, after a December 2019 outbreak in China, the World Health Organization identified SARS-CoV-2 as a new type of coronavirus. The outbreak quickly spread around the world.">
	<meta name="keywords" content="covid tracker india today,
	covid tracker india, states
	covid india tracker ,andhra pradesh,
	covid 19 tracker india active cases,
	covid 19 tracker india andhra pradesh,
	covid tracker india by state,
	covid tracker india bihar,
	covid tracker india by city,
	covid 19 tracker india bihar,
	covid 19 tracker india bihar district wise,
	coronavirus tracker india city wise,
	covid 19 tracker india city wise,
	covid tracker india dashboard,
	covid tracker india district,
	covid tracker india day wise,
	covid tracker india delhi,
	covid tracker india district wise,
	coronavirus india tracker delhi,
	covid tracker india google,
	covid tracker india goa,
	covid tracker india gujarat,
	covid tracker india haryana,
	covid 19 india tracker live,
	covid 19 tracker india in state wise,
	covid 19 tracker india jharkhand,
	covid 19 tracker india jabalpur,
	covid 19 tracker india jaipur,
	covid 19 india tracker live jharkhand,
	covid tracker india kerala,
	covid tracker india karnataka,
	covid 19 tracker india karnataka,
	covid 19 tracker india karnataka state wise,
	covid 19 tracker india kerala,
	covid 19 tracker india kanpur,
	covid tracker india maharashtra,
	coronavirus tracker maharashtra india,
	coronavirus tracker of india state wise,
	covid tracker india recovery rate,
	covid tracker india rajasthan,
	covid 19 tracker india rajasthan,
	covid 19 tracker india recovery rate,
	covid 19 tracker india rajasthan district wise,
	covid tracker india state wise list,
	covid 19 tracker indian state wise,
	coronavirus tracker india state,
	covid tracker india telangana,
	covid tracker india tamil nadu,
	covid 19 tracker india tamil nadu,
	covid 19 tracker india uttarakhand,
	covid 19 tracker india update state wise,
	covid 19 tracker india up district wise,
	covid 19 tracker india uttar pradesh district wise,
	covid 19 tracker india up district,
	covid 19 tracker india varanasi,
	covid tracker india website,
	covid tracker india west bengal,
	covid india tracker worldwide,
	covid 29 india tracker state wise">
	<meta name="google-site-verification" content="k5HggiHz9A2NOfu4-LLTJpETsAv_6dBMX9zcnOlc-3M" />

	<title>Covid19 Tracker India</title>
<!--

Template 2102 Constructive

http://www.tooplate.com/view/2102-constructive

-->
<link rel="manifest" href="/manifest.json">
<link rel="shortcut icon" href="icon/iconweb.png" type="image/x-icon">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/6e0ba8b08d.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
	<link rel="stylesheet" href="css/fontawesome-all.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/magnific-popup.css"/>
	<link rel="stylesheet" type="text/css" href="slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
	<link rel="stylesheet" href="css/tooplate-style.css">
	
	<script>
		var renderPage = true;

	if(navigator.userAgent.indexOf('MSIE')!==-1
		|| navigator.appVersion.indexOf('Trident/') > 0){
   		/* Microsoft Internet Explorer detected in. */
   		alert("Please view this in a modern browser such as Chrome or Microsoft Edge.");
   		renderPage = false;
	}
	</script>
</head>

<body>
	<!-- Loader -->
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	
	<!-- Page Content -->
	<div class="container-fluid tm-main">
		<div class="row tm-main-row">

			<!-- Sidebar -->
			<div id="tmSideBar" class="col-xl-3 col-lg-4 col-md-12 col-sm-12 sidebar">

				<button id="tmMainNavToggle" class="menu-icon">&#9776;</button>


	