
<%- include('header'); -%> 
<div class="inner">
	<nav id="tmMainNav" class="tm-main-nav">
		<ul>
			<li>
				<a href="/" id="tmNavLink1" class="scrolly" data-bg-img="constructive_bg_01.jpg" data-page="#tm-section-1">
					<i class="fas fa-home tm-nav-fa-icon"></i>
					<span>Introduction</span>
				</a>
			</li>
			<li>
				<a href="/section2" id="tmNavLink2" class="scrolly" data-bg-img="constructive_bg_02.jpg" data-page="#tm-section-2" data-page-type="carousel">
					<i class="fas fa-map tm-nav-fa-icon"></i>
					<span>Statewise Data</span>
				</a>
			</li>							
			<li>
				<a href="/section3" class="scrolly" data-bg-img="constructive_bg_03.jpg" data-page="#tm-section-3">
					<i class="fas fa-users tm-nav-fa-icon"></i>
					<span>Districtwise Data</span>
				</a>
			</li>
			<li>
				<a href="/section5" class="scrolly" data-bg-img="constructive_bg_05.jpg" data-page="#tm-section-1">
					<i class="fas fa-question-circle tm-nav-fa-icon"></i>
					<span>Symptoms</span>
				</a>
			</li>
			<li>
				<a href="/section4" class="scrolly active" data-bg-img="constructive_bg_04.jpg" data-page="#tm-section-4">
					<i class="fas fa-comments tm-nav-fa-icon"></i>
					<span>Contact Us</span>
				</a>
			</li>
		</ul>
	</nav>
</div>
</div>

<div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 tm-content">
	
					<!-- section 4 -->
					<section id="tm-section-4" class="tm-section">
						<div class="tm-bg-transparent-black tm-contact-box-pad">
							<div class="row mb-4">
								<div class="col-sm-12">
									<header><h2 class="tm-text-shadow">Contact Us</h2></header>
								</div>
							</div>
						
							    <div class="alert  alert-dismissible fade"    role="alert">
							    	<strong><%=error_code%></strong> <%=error_meassage%>
							    	<button type="button" class="close" onclick="hider()"     data-dismiss="alert" aria-label="Close">
							    	  <span aria-hidden="true">&times;</span>
							    	</button>
								</div>
							<div class="row tm-page-4-content">
								<div class="col-md-6 col-sm-12 tm-contact-col">
									<div class="contact_message">
										<form action="/section4" method="post" class="contact-form">
											<div class="form-group">
												<input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="Name" required>
											</div>
											<div class="form-group">
												<input type="email" id="contact_email" name="contact_email" class="form-control" placeholder="Email" required>
											</div>
											<div class="form-group">
												<textarea id="contact_message" name="contact_message" class="form-control" rows="9" placeholder="Message" required></textarea>
											</div>
											<button type="submit" class="btn tm-btn-submit tm-btn ml-auto">Submit</button>
										</form>
									</div>
								</div>
								<div class="col-md-6 col-sm-12 tm-contact-col">
									<div class="tm-address-box">
										<p>We are trying our best to provide you with all the collective data from different sources.But
											Data may be changed, mismatched with the time and different circumstances.
										</p>
										<p>Stay connected and update yourself with Current data and give us feedback about any error or bug or your appreciation</p>
										<address>
											Social Handles:-<br>
											<a class="mr-3" href="https://www.facebook.com/profile.php?id=100008362891238"><i class="fab fa-facebook-square"></i>Facebook</a>
											<a class="mr-3" href="https://www.instagram.com/debanshu__rout/"><i class="fab fa-instagram"></i>instagram</a><br>
											<a class="mr-3" href="https://personal-site-info.herokuapp.com/"><i class="fas fa-globe"></i>Website</a>
											<a class="mr-3" href="https://github.com/debanshu78"><i class="fab fa-github-square"></i></i>Github</a><br>
										</address>
									</div>
								</div>
							</div>
						</div>
					</section>					
				</div>	<!-- .tm-content -->							
				<footer class="footer-link">
					<p class="tm-copyright-text">Copyright &copy; 2020 Debanshu Rout
					
					- Design:DR</p>
				</footer>
				</div>	<!-- row -->			
				</div>
				<div id="preload-01"></div>
				<div id="preload-02"></div>
				<div id="preload-03"></div>
				<div id="preload-04"></div>
				<div id="preload-05"></div>
				
				<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
				<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
				<script type="text/javascript" src="js/jquery.backstretch.min.js"></script>
				<script type="text/javascript" src="slick/slick.min.js"></script> <!-- Slick Carousel -->
				
				<script>
				
				var sidebarVisible = false;
				var currentPageID = "#tm-section-4";
				
				//Setup Carousel
				function hider()
					{
					  $(".alert").removeClass("show");
					}
				function setupCarousel() {
				
				// If current page isn't Carousel page, don't do anything.
				if($('#tm-section-2').css('display') == "none") {
				}
				else {	// If current page is Carousel page, set up the Carousel.
				
				var slider = $('.tm-img-slider');
				var windowWidth = $(window).width();
				
				if (slider.hasClass('slick-initialized')) {
					slider.slick('destroy');
				}
				
				if(windowWidth < 640) {
					slider.slick({
						  dots: true,
						  infinite: false,
						  slidesToShow: 1,
						  slidesToScroll: 1
					  });
				}
				else if(windowWidth < 992) {
					slider.slick({
						  dots: true,
						  infinite: false,
						  slidesToShow: 2,
						  slidesToScroll: 1
					  });
				}
				else {
					// Slick carousel
					  slider.slick({
						  dots: true,
						  infinite: false,
						  slidesToShow: 3,
						  slidesToScroll: 2
					  });
				}
				
				// Init Magnific Popup
				$('.tm-img-slider').magnificPopup({
				  delegate: 'a', // child items selector, by clicking on it popup will open
				  type: 'image',
				  gallery: {enabled:true}
				  // other options
				});
				}
				}
				
				// Setup Nav
				function setupNav() {
				// Hide the nav on mobile
				$("#tmSideBar").removeClass("show");	    
				}
				
				
				// Setup Nav Toggle Button
				function setupNavToggle() {
				
				$("#tmMainNavToggle").on("click", function(){
				$(".sidebar").toggleClass("show");
				});
				}
				
				// If there is enough room, stick the footer at the bottom of page content.
				// If not, place it after the page content
				function setupFooter() {
				
				var padding = 100;
				var footerPadding = 40;
				var mainContent = $("section"+currentPageID);
				var mainContentHeight = mainContent.outerHeight(true);
				var footer = $(".footer-link");
				var footerHeight = footer.outerHeight(true);
				var totalPageHeight = mainContentHeight + footerHeight + footerPadding + padding;
				var windowHeight = $(window).height();		
				
				if(totalPageHeight > windowHeight){
				  $(".tm-content").css("margin-bottom", footerHeight + footerPadding + "px");
				  footer.css("bottom", footerHeight + "px");  			
				}
				else {
				  $(".tm-content").css("margin-bottom", "0");
				  footer.css("bottom", "20px");  				
				}  			
				}
				
				// Everything is loaded including images.
				$(window).on("load", function(){
				
										var er="<%=error%>";
										if(er==="occur")
										{
											$(".alert").addClass("alert-warning show");
											
										}
										else if(er==="notoccur")
										{
											$(".alert").addClass("alert-success show");
										}
					
				// Render the page on modern browser only.
				if(renderPage) {
				// Remove loader
				  $('body').addClass('loaded');
				
				  // Page transition
				  var allPages = $(".tm-section");
				
				  // Handle click of "Continue", which changes to next page
				  // The link contains data-nav-link attribute, which holds the nav item ID
				  // Nav item ID is then used to access and trigger click on the corresponding nav item
				  var linkToAnotherPage = $("a.tm-btn[data-nav-link]");
				
				if(linkToAnotherPage != null) {
					
					linkToAnotherPage.on("click", function(){
						var navItemToHighlight = linkToAnotherPage.data("navLink");
						$("a" + navItemToHighlight).click();
					});
				}
				  
				  // Hide all pages
				  allPages.hide();
				
				  $("#tm-section-4").fadeIn();
				
				 // Set up background first page
				 var bgImg = $("#tmNavLink4").data("bgImg");
				 
				 $.backstretch("img/constructive_bg_04.jpg", {fade: 500});
				
				 // Setup Carousel, Nav, and Nav Toggle
				setupCarousel();
				setupNav();
				setupNavToggle();
				setupFooter();
				
				// Resize Carousel upon window resize
				$(window).resize(function() {
					setupCarousel();
					setupFooter();
				});
				}	      	
				});
				
				</script>
				</body>
				<script>
					if ('serviceWorker' in navigator) {
					   console.log("Will the service worker register?");
					   navigator.serviceWorker.register('service-worker.js')
						 .then(function(reg){
						   console.log("Yes, it did.");
						}).catch(function(err) {
						   console.log("No it didn't. This happened:", err)
					   });
					}
				   </script>
				</html>